# Files and directories not to track in git tree

# Global files for the entire tree
*.swp
*~
*.pyc

# Build files

# Ignore docs tmp directories

# Ignore docs publish directories

# Ignore docs SCAP_Security_Guide directory

# Ignore PCI_DSS_v3-1.pdf
shared/transforms/pcidss/PCI_DSS_v3-1.pdf

# Ignore zipfile and tarball dirs

# Ignore QtCreator files
CMakeLists.txt.user

# Ignore VIM's ropeproject files
.ropeproject

# Ignore pytest cache
.pytest_cache/

# Ignore Visual Studio Code configuration files
.vscode/

# Ignore release tools data file
release_tools/.env
release_tools/.jenkins_builds
release_tools/*.log
release_tools/release_notes.txt

# Ignore the test profile that utils/add_platform_rule.py creates
ocp4/profiles/test.profile
